/* Caleb Anderson, October 31, 2021 */

.float-left {
    float: left;
}
img {
    margin-right: 3%;
    margin-bottom: 2%;
    max-width: 100%;
}
nav li {
    list-style-type: none;
}
#outerwrapper {
    width: 70%;
    margin: 0 auto 0 auto;
}
#main {
    clear: both;
    background-color: #ffe77b;
    padding: 3%;
    border: 0.2em black solid;
    border-radius: 2em;
}
.myname {
    font-family: Futura, Calibri, sans-serif;
    font-size: 2em;
    color: #0000d1;
    text-shadow: 0.07em 0.05em #292933;
}

/* Media query for mobile */
@media only screen and (min-width: 320px) {
    .mobile {
        display: inline;
    }

    .desktop {
        display: none;
    }

    figure {
        text-align: center;
    }

    article {
        border-top: solid 0.2em #0066FF;
        padding: 2%;
        margin: 0.5%;
        text-align: left;
    }

    section {
        padding: 1%;
        text-align: left;
    }
}

/* Media query for tablet */
@media only screen and (min-width: 481px) {
    .desktop {
        display: inline;
    }

    .mobile {
        display: none;
    }

    figure {
        text-align: left;
    }

    article {
        background-color: #EEEEFF;
        border-top: 0;
        border-radius: 0 3em 3em 3em;
        margin-top: 1em;
    }

    /* Table Stuff */
	table, th, td {
		border: solid 0.1em #c70000;
		border-collapse: collapse;
		padding: 1em;
	}

	caption {
		font-size: 1.5em;
		padding-bottom: 1em;
	}
}

/* Media query for Desktop */
@media only screen and (min-width: 769px) {
    table {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;
	}
}